    
body{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
  background-image: url("./img/background.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: 100%
}

.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root{
  max-width: 1200px;
  margin: 0 auto;
}

ul{
  padding: 0;
}

li{
  list-style-type: none;
}

.button{
  color: #e6e6e6;
  background: #0a0a0a;
  border:none;
  font-size: 16px;    
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

.column{
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}

.column input{
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid rgba(0,0,0,0.43);
  font-size: 16px;
  width: 80%;
}

.select-sport{
  display: flex;
  justify-content: center;
}

.sport-holder{
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid rgba(0,0,0,0.43);
  font-size: 16px;
}

.vs{
  display: flex;
  width: 100%;
  justify-content: space-around;
}